@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
    color: white;
}



.main {
    background-image: url("Assets/Images/BG.jpg");
    background-size: cover;
    background-position: center;
    height: 70vh;
    position: relative;
}

.main .box {
    position: absolute;
    inset: 0;
    background-color: black;
    opacity: 0.7;
}



nav {
    max-width: 80vw;
    margin: auto;
    height: 62px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10;
}

nav img {
    width: 160px;
}

nav button {
    margin-left: 10px;
}



.hero {
    height: calc(100% - 62px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    position: relative;
    z-index: 10;
    padding: 20px;
    font-family: 'Martel Sans', sans-serif;
}

.hero span:nth-child(1) {
    font-size: 48px;
    font-weight: 900;
}

.hero span:nth-child(2) {
    font-size: 24px;
}

.hero span:nth-child(3) {
    font-size: 18px;
}

.hero div {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}



.main input {
    padding: 16px;
    font-size: 18px;
    color: white;
    background-color: rgba(23, 23, 23, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    outline: none;
    min-width: 280px;
}



.btn {
    padding: 6px 16px;
    font-weight: 600;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}


.red-btn {
    background-color: #e50914;
    color: white;
    font-size: 26px;
    padding: 16px 36px;
    font-weight: 700;
    border-radius: 6px;
}

.btn-red-sm {
    background-color: #e50914;
    color: white;
}

.red-btn:hover,
.btn-red-sm:hover {
    background-color: #f6121d;
    transform: scale(1.03);
    transition: all 0.2s ease-in-out;
}



.sepration {
    height: 7px;
    background-color: #333;
}



.first {
    max-width: 70vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding: 60px 0;
}

.first span {
    font-size: 40px;
    font-weight: 800;
}

.first p {
    font-size: 20px;
    color: #dcdcdc;
    margin-top: 10px;
}



.secimg {
    position: relative;
    width: fit-content;
}

.secimg img {
    width: 32vw;
    position: relative;
    z-index: 2;
}

.secimg video {
    position: absolute;
    top: 14%;
    left: 16%;
    width: 68%;
    height: 55%;
    object-fit: cover;
    z-index: 1;
}



.faq {
    max-width: 70vw;
    margin: auto;
    padding: 60px 0;
}

.faq h2 {
    text-align: center;
    font-size: 42px;
    margin-bottom: 30px;
}

details {
    background-color: #2d2d2d;
    margin-bottom: 10px;
    padding: 20px;
    cursor: pointer;
}

summary {
    font-size: 20px;
    font-weight: 600;
}

details p {
    margin-top: 10px;
    color: #dcdcdc;
}



@media (max-width: 768px) {

    .hero span:nth-child(1) {
        font-size: 32px;
    }

    .hero span:nth-child(2),
    .hero span:nth-child(3) {
        font-size: 18px;
    }

    .first {
        flex-direction: column;
        text-align: center;
    }

    .secimg img {
        width: 90vw;
    }

    .secimg video {
        top: 18%;
        left: 14%;
        width: 72%;
        height: 50%;
    }

    .red-btn {
        background-color: red;
        color: white;
        font-size: 20px;
        padding: 10px 24px;
    }





}
  footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 60px;
}

footer .questions {
    padding: 34px 0;
}


.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}



@media screen and (max-width: 1300px) {

    nav{
        max-width: 90vw;
    }

    .first {
        flex-wrap: wrap;
    }

    .secImg img {
        width: 305px;
    }

    .secImg video {
        width: 305px;
    }

    .hero> :nth-child(1) {
        font-size: 32px;
    }

    .hero> :nth-child(2) {
        font-size: 18px;
    }

    .hero> :nth-child(3) {
        font-size: 18px;
    }

    .hero-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }

    .faq h2 {
        text-align: center;
        font-size: 32px;
    }

    footer {
        max-width: 90vw;
        padding: 75px 0;
    }

    .footer-item{
        align-items: center;
    }
 

}



@media screen and (max-width: 1300px) {

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }
}


.footer a {
    font-size: 14px;
    color: white;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}